altgraph==0.17.3
auto-py-to-exe==2.37.0
bottle==0.12.25
bottle-websocket==0.2.9
Eel==0.16.0
feedparser==6.0.10
future==0.18.3
gevent==23.7.0
gevent-websocket==0.10.1
greenlet==2.0.2
platformdirs==3.10.0
pycairo==1.24.0
PyGObject==3.44.1
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2023.7
pyparsing==3.1.1
sgmllib3k==1.0.0
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.0
